/* #root{
    

} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-image: url("/Users/supernova/pokemon/public/dynamax-battle.png");
   background-color: skyblue;
}
.h3{
  margin-top: 30px;
  margin-bottom:30px;
}
.h1{
  font-size: 40px;
  margin-bottom: 30px;
  color: white;
}

.info{
  border: 1px, solid, white
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  /* height: 700px;
  width: 700px;
  background-color: blue ; */
  /* background-image: url("/Users/supernova/pokemon/public/dynamax-battle.png"); */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* #root{
    

}

.App {
  text-align: center;
  background-image: url("/Users/supernova/pokemon/public/dynamax-battle.png");
   background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
   height: 700px;
  width: 700px;
  background-color: blue ; 
   background-image: url("/Users/supernova/pokemon/public/dynamax-battle.png"); 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

